BASE_URL=

FACEBOOK_PAGE_ID=
FACEBOOK_PAGE_ACCESS_TOKEN=

INSTAGRAM_ACCESS_TOKEN=
INSTAGRAM_ACCOUNT_ID=

MPESA_BUSINESS_SHORTCODE=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_PASSKEY=

MONGODB_URI=
MONGODB_DATABASE=cashify-bot

WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_VERIFY_TOKEN=
