BASE_URL=

# PostgreSQL Database Configuration
POSTGRES_USER=cashify
POSTGRES_PASSWORD=cashify123
POSTGRES_DB=cashify
DATABASE_URL=postgresql://cashify:cashify123@postgres:5432/cashify

# Port Configuration
PORT=8000

AT_USERNAME=
AT_API_KEY=

FACEBOOK_PAGE_ID=
FACEBOOK_PAGE_ACCESS_TOKEN=

INSTAGRAM_ACCESS_TOKEN=
INSTAGRAM_ACCOUNT_ID=

MONGODB_URI=
MONGODB_DATABASE=cashify-bot

PESAPAL_CONSUMER_KEY=
PESAPAL_CONSUMER_SECRET=
PESAPAL_IPN_ID=

TIKTOK_ACCESS_TOKEN=
TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
TIKTOK_REFRESH_TOKEN=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=cashify-bot
